.categories__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.categories-sorting select {
    text-align: right;
    font-size: 16px;
    line-height: 100%;
    border: none;
    background: transparent;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0003 12.8926C9.23702 12.8926 8.52035 12.5959 7.98035 12.0559L4.29868 8.61343C4.13118 8.45677 4.12202 8.1926 4.27952 8.02427C4.43618 7.85677 4.70035 7.8476 4.86868 8.0051L8.56035 11.4576C9.34452 12.2401 10.6662 12.2309 11.4312 11.4676L15.132 8.00593C15.3003 7.84927 15.5645 7.8576 15.7212 8.0251C15.8778 8.19343 15.8695 8.4576 15.702 8.61427L12.0103 12.0668C11.4803 12.5968 10.7637 12.8934 10.0003 12.8934V12.8926Z" fill="%234B6D74"/></svg>') no-repeat;
    background-position: calc(100% - 6px) center;
    padding: 10px 30px 10px 0px;
}

.categories__content {
    display: flex;
    gap: 80px;
    width: 100%;
}

.categories__content__right {
    width: 100%;
    text-align: center;
}

.categories-result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: 32px;
    row-gap: 40px;
}

@media (max-width: 992px) {

    .categories__content {
        gap: 20px;
    }

    .categories-result {
        grid-template-columns: repeat(auto-fill, minmax(191px, 1fr));
        column-gap: 8px;
        row-gap: 24px;
    }
}

@media (max-width: 768px) {
    .categories__content {
        flex-direction: column;
        align-items: stretch;
    }

    .categories-sorting .woocommerce-ordering {
        width: 100%;
        text-align: start;
        background: white;
        margin: 0;
    }

    .categories__title .categories-sorting {
        display: none;
    }

    .categories__content .categories-sorting {
        text-align: left;
    }
}

.categories-result .product__card {
    max-width: 100%;
}

.price-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.price-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-weight: 700;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC
}

.price-list li>span:first-of-type {
    text-decoration: underline;
    font-weight: 400;
}

.categories .product__parameters {
    gap: 10px;
}

.categories .product__parameters .label {
    font-size: 16px;
    padding: 8px 16px;
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .categories .product__parameters {
        margin-bottom: 60px;
        column-gap: 8px;
    }
}













































.categories__content .clear_all_filters {
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 145.4%;
    letter-spacing: 0.45px;
    cursor: pointer;
}

.categories__content .clear_all_filters__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .categories__content .clear_all_filters {
        display: none;
    }
}

.categories__content__left {
    min-width: 270px;
    max-width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.categories__content__left-subtitle {
    margin-bottom: 16px;
}

.filter__icon-minus,
.filter__icon-plus {
    width: 12px !important;
    height: 12px !important;
}

.filter__icon-minus:before,
.filter__icon-plus:before {
    height: 2px !important;
    background: var(--accent-hover);
}

.filter__icon-plus:after {
    width: 2px !important;
    background: var(--accent-hover) !important;
}

@media (max-width: 768px) {
    .categories__content__left-subtitle {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .categories__content__left {
        max-width: none;
        min-width: auto;
        width: 100%;
        position: sticky;
        top: 115px;
        z-index: 12;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(100vh - 185px);
        background: white;
    }

    .header_banner_active .categories__content__left {
        top: 140px;
    }

    .filter__icon-minus:before,
    .filter__icon-plus:before {
        height: 1px !important;
    }

    .filter__icon-plus:after {
        width: 1px !important;
    }

}

.categories__content__left .filter__accordion {
    width: 100%;
}

@media (max-width: 768px) {
    .categories__content__left .filter__accordion .accordion__item {
        border-top: 1px solid rgba(33, 50, 53, 0.1);
        border-bottom: 1px solid rgba(33, 50, 53, 0.1);
    }

    .categories__content__left .filter__accordion .accordion__item.border {
        border-top: none;
        border-bottom: none;
    }
}

.categories__content__left .filter__accordion .accordion__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 145.4%;
    /* 26.172px */
    letter-spacing: 0.45px;
    display: none;
    padding: 10px 5px;
}

@media (max-width: 768px) {
    .categories__content__left .filter__accordion .accordion__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.categories__content__left .filter__accordion .accordion__arrow {
    width: 12px;
    height: 12px;
    background: url(./img/filters_plus.svg) center no-repeat;
}

.categories__content__left .filter__accordion .accordion__arrow.minus {
    background: url(./img/filters_minus.svg) center no-repeat;
}

.categories__content__left .filter__accordion .accordion__content {
    display: block;
    padding: 15px 0;
}

.categories__content__left .filters-heder {
    display: none;
}

@media (max-width: 768px) {

    /* .categories__content__left .filter__accordion .accordion__content {
		display: none;
	} */
    .categories__content__left .filter__accordion .accordion__content {
        display: block !important;
        width: calc(100% - 30px);
        position: fixed;
        left: -100%;
        top: 140px;
        bottom: 75px;
        z-index: 120;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 15px 15px;
        transition: left 0.4s, box-shadow 0.4s;
        background: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: none;
    }

    .categories__content__left .filter__accordion .accordion-active+.accordion__content {
        left: 0;
        box-shadow: 100vw 0px 0px 100vw rgba(0, 0, 0, .5);
    }

    .categories__content__left .filters-heder {
        position: sticky;
        top: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        gap: 20px;
        margin: 0 -15px;
        padding: 12px 0;
        box-shadow: 5px 4px 18px 0 #0000000D;
    }

    .categories__content__left .filters-heder .title {
        width: 100%;
        text-align: center;
        padding-right: 50px;
        font-size: 20px;
        margin-bottom: 0;
        color: var(--accent) !important;
    }

    .categories__content__left .filters-heder .close {
        font-weight: bold;
        padding: 10px;
        color: var(--accent) !important;
        cursor: pointer;
    }

    .categories__content__left .filters-heder .close .icon-arrow_down {
        transform: rotate(90deg);
    }

    .categories__content__left .filters-heder .close .icon-arrow_down::before {
        font-size: 12px;
    }

}

/*categories filters*/

.categories select.filter__select {
    width: 100%;
    min-height: 30px;
    padding: 10px 30px 10px 8px;
    border: 1px solid var(--accent) !important;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: url(./arrow_down.svg) no-repeat;
    background-size: 10px;
    background-position: calc(100% - 12px) center;
}

.categories .filter__item {
    margin: 0;
    border-top: 1px solid rgba(33, 50, 53, 0.1);
    border-bottom: 1px solid rgba(33, 50, 53, 0.1);
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 16px;
}

@media (max-width: 767px) {
    .categories .filter__item {
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}

.categories .filter__item:first-child,
.categories .filter__item:last-child {
    border: none;
}

.categories .filter__inner {
    margin-top: 0.5em;
    font-size: 14px;
}

.categories .button-filter-submit {
    cursor: pointer !important;
    padding: 10px 25px !important;
    border-radius: 10px !important;
    color: white !important;
    border: 1px solid var(--accent) !important;
    background-color: var(--accent) !important;
    transition: all 0.3s ease !important;
}

@media (min-width: 769px) {

    .categories .button-filter-submit:hover {
        color: var(--accent) !important;
        background-color: white !important;
    }
}

.categories .pc-range-slider__control {
    border: none;
}

.categories .pc-range-slider__control .ui-slider-range {
    background: var(--accent);
    height: 3px !important;
}

.categories .pc-range-slider__control .ui-slider-handle {
    background: white;
    width: 10px !important;
    height: 10px !important;
    border: 2px solid var(--accent);
    transform: translateY(50%);
}

.categories .pc-range-slider__control .ui-slider-handle:last-of-type {
    margin-left: -10px !important;
}

.categories .filter__slider-control-group {
    margin: 0 -15px 5px -15px;
}

.categories .filter__slider-control {
    background-color: transparent;
    border: none;
    outline: none;
}

.categories input::-webkit-outer-spin-button,
.categories input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.categories .filter__slider-control[name="min_price"] {
    text-align: left;
}

.categories .filter__slider-control[name="max_price"] {
    text-align: right;
}

.categories .filter__item input[type="checkbox"] {
    flex: 1 0 16px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid var(--text-color);
    padding: 0;
    outline: none;
    accent-color: white;
    appearance: none;
}

.categories .filter__item input[type="checkbox"]:checked {
    position: relative;
    outline: none;
}

.categories .filter__item input[type="checkbox"]:checked::before {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 2px;
    background-color: var(--accent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories .filter__inner--scroll::-webkit-scrollbar {
    width: 4px;
}

.categories .filter__inner--scroll::-webkit-scrollbar-thumb {
    background: #C8C8C8;
    border-radius: 4px;
}


/* filters */

.premmerce-filter-loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110,110,110,0.21);
    z-index: 9999999999
}

.premmerce-filter-loader-wrapper::after {
    content: "";
    position: absolute;
    opacity: 0.6;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #484848;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: premmerce-filter-spin 0.5s linear infinite
}

.premmerce-filter-body {
    position: relative
}

.premmerce-filter-body .premmerce-filter-loader-wrapper {
    position: absolute
}

@keyframes premmerce-filter-spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.filter .disabled {
    cursor: default
}

.filter__item {
    margin: 30px 0
}

.filter__header {
    display: table;
    width: 100%
}

.filter__header[data-filter-drop-handle] {
    cursor: pointer
}

.filter__title {
    display: table-cell;
    vertical-align: middle
}

.filter__handle {
    position: relative;
    display: table-cell;
    width: 20px;
    text-align: right;
    vertical-align: middle;
    cursor: pointer
}

.filter__handle-ico {
    position: relative;
    height: 100%;
    width: 14px;
    display: block;
    fill: #333333;
    color: #333333
}

.filter__handle-ico svg {
    margin: auto
}

.filter__handle-ico--plus {
    height: 14px
}

.filter__slider-form {
    margin: 0
}

.filter__slider-control-group {
    margin: 0 -15px 15px -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.filter__slider-control-column {
    padding: 0 15px;
    width: 50%
}

.filter__slider-control {
    width: 100%;
    text-align: center
}

.filter__handle-ico--minus {
    height: 14px
}

.filter__inner {
    margin-top: 0.8em
}

.filter__inner::after {
    content: "";
    clear: both;
    display: table
}

.filter__inner--js-hidden {
    display: none
}

.filter__inner--scroll {
    max-height: 180px;
    overflow-y: auto;
    padding-right: 5px
}

.filter__properties-list {
    margin: 0;
    list-style: none
}

.filter__properties-item:not(:last-child) {
    margin-bottom: 3px
}

.filter__scroll {
    width: 100%;
    max-width: 100%
}

.filter__checkgroup {
    display: table
}

.filter__checkgroup-check,.filter__checkgroup-body,.filter__checkgroup-title,.filter__checkgroup-count,.filter__checkgroup-aside {
    display: table-cell;
    vertical-align: top
}

.filter__checkgroup-control {
    width: initial;
    height: initial;
    margin: initial
}

.filter__checkgroup-control[type="radio"]+.filter__checkgroup-check:before,.filter__checkgroup-control[type="radio"]+.filter__checkgroup-check {
    border-radius: 50%
}

.filter__checkgroup-control[disabled]+.filter__checkgroup-check+.filter__checkgroup-title,.filter__checkgroup-control[disabled]+.filter__checkgroup-check {
    cursor: not-allowed;
    opacity: 0.7
}

.filter__checkgroup-control[type="radio"]:checked+.filter__checkgroup-check:before,.filter__checkgroup-control[type="checkbox"]:checked+.filter__checkgroup-check:before {
    opacity: 1
}

.filter__checkgroup-control:checked+.filter__checkgroup-check {
    -webkit-box-shadow: none;
    box-shadow: none
}

.filter__checkgroup-check {
    display: none !important;
    background: #fff;
    border: 1px solid #6d6d6d;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0
}

.filter__checkgroup-check:before {
    opacity: 0;
    content: "";
    background: #6d6d6d;
    -webkit-transition: 0.05s ease-in-out;
    -o-transition: 0.05s ease-in-out;
    transition: 0.05s ease-in-out;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.filter__checkgroup-title {
    padding-right: 4px;
    padding-left: 4px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    margin: 0
}

.filter__checkgroup-count {
    font-size: 0.9em;
    position: relative;
    top: 2px;
    display: flex
}

.filter__checkgroup-count::before {
    content: "(";
    display: inline
}

.filter__checkgroup-count::after {
    content: ")";
    display: inline
}

.filter__checkgroup-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    text-decoration: none
}

.filter__range-field {
    padding-bottom: 15px
}

.filter__price-form {
    margin: 0
}

.filter__price-control-group {
    margin: 0 -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px
}

.filter__price-control-column {
    padding: 0 15px;
    width: 50%
}

.filter__price-control {
    width: 100%;
    text-align: center
}

.filter__icon-minus,.filter__icon-plus {
    width: 20px;
    height: 20px;
    position: relative
}

.filter__icon-minus:before,.filter__icon-plus:before,.filter__icon-plus:after {
    background: #000;
    position: absolute;
    content: ""
}

.filter__icon-minus:before,.filter__icon-plus:before {
    height: 3px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.filter__icon-plus:after {
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.pc-range-slider__wrapper {
    position: relative;
    height: 20px;
    overflow: hidden
}

.pc-range-slider__control {
    background: #fff;
    border: 1px solid #c7c7c7;
    height: 4px;
    margin-top: 8px
}

.pc-range-slider__control .ui-slider-handle {
    display: block;
    width: 8px !important;
    height: 20px !important;
    border: 1px solid #000;
    background: #000;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
    position: absolute;
    top: 0
}

.pc-range-slider__control .ui-slider-handle:after,.pc-range-slider__control .ui-slider-handle:before {
    display: none !important
}

.pc-range-slider__control .ui-slider-handle:focus {
    outline: 0
}

.pc-range-slider__control .ui-slider-handle:last-of-type {
    margin-left: -8px !important
}

.pc-range-slider__control .ui-slider-range {
    position: absolute;
    top: 50% !important;
    margin-top: -2.5px;
    height: 5px !important;
    background: #999
}

.pc-active-filter__list-item {
    margin-bottom: 5px
}

.pc-active-filter__item-link {
    text-decoration: none !important;
    color: #333;
    font-weight: 400
}

.pc-active-filter__item-link:hover {
    text-decoration: underline !important
}

.pc-active-filter__item-link:after {
    display: table;
    content: "";
    clear: both
}

.pc-active-filter__item-delete {
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 12px;
    border: 1px solid #6d6d6d;
    float: right;
    color: #6d6d6d;
    font-weight: bold
}

.hidden {
    display: none
}

.filter__colors-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -10px -5px 0
}

.filter__colors-box .filter__checkgroup-control {
    display: none !important
}

.filter__colors-item {
    padding: 10px 5px 0;
    border-radius: 1px
}

.filter__checkgroup-control:checked+.filter__color-button,.filter__checkgroup-control:not([disabled])+.filter__color-button:hover {
    outline: 1px solid #dcdcdc
}

.filter__checkgroup-control[disabled]+.filter__color-button {
    cursor: not-allowed
}

.filter input[type="checkbox"]+label {
    margin: 0
}

.filter__color-button {
    display: block !important;
    border: 3px solid #fff;
    -webkit-box-shadow: inset 0 0 0 1px #dcdcdc;
    box-shadow: inset 0 0 0 1px #dcdcdc;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    position: relative;
    width: 36px !important;
    height: 36px !important;
    background: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0))
}

.filter__image-button {
    background-size: cover;
    background-repeat: no-repeat
}

.filter__checkgroup-control:checked+.filter__color-button:before {
    content: "âœ“";
    position: absolute;
    display: block;
    color: #fff;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.filter__labels-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px
}

.filter__labels-box .filter__checkgroup-control {
    display: none !important
}

.filter__label-item {
    margin-top: 10px;
    margin-left: 10px
}

.filter__label-button {
    display: block;
    border: 1px solid #dcdcdc;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    padding: 5px 12px;
    cursor: pointer;
    margin: 0
}

.filter__checkgroup-control:checked+.filter__label-button {
    color: #fff;
    background: #000;
    border-color: #000
}

.filter__checkgroup-control[disabled]+.filter__label-button {
    cursor: not-allowed;
    opacity: 0.7
}

.filter__checkgroup-control:not([disabled]):not(:checked)+.filter__label-button:hover {
    background-color: #f6f6f6
}

.filter--style-premmerce,.filter--style-custom {
    font-size: 0.9rem
}

.filter--style-premmerce .filter__item,.filter--style-custom .filter__item {
    margin: 0;
    padding: 15px;
    margin-top: -1px
}

.filter__item-border {
    border: 1px solid #c7c7c7
}

.filter--style-premmerce .filter__title,.filter--style-custom .filter__title {
    color: #333333;
    font-size: 1rem
}

.bold {
    font-weight: bold
}

.uppercase {
    text-transform: uppercase
}

.filter--style-premmerce .filter__checkgroup-control,.filter--style-custom .filter__checkgroup-control {
    display: none !important
}

.filter--style-premmerce .filter__checkgroup-check,.filter--style-custom .filter__checkgroup-check {
    display: block !important
}

.filter--style-premmerce .filter__checkgroup-link,.filter--style-custom .filter__checkgroup-link {
    align-items: baseline
}

.filter--style-premmerce .filter__checkgroup-check,.filter--style-custom .filter__checkgroup-check {
    top: 0.2em
}

.filter--style-premmerce .filter__checkgroup-title,.filter--style-custom .filter__checkgroup-title {
    font-weight: normal;
    font-size: 13px
}

.filter__checkgroup-inner {
    margin-left: 16px;
    margin-top: 4px;
    margin-bottom: 5px
}

.filter__checkgroup-inner-expanded {
    display: block
}

.filter__checkgroup-inner-collapsed {
    display: none
}

.filter__inner-hierarchy-button {
    float: right;
    margin-left: 10px
}

.filter .filter__item a.filter__inner-hierarchy-button-open-close {
    text-decoration: none
}
