.banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-banner .swiper-pagination {
    display: none;
    position: static !important;
    margin-top: 16px;
    max-width: none;
}

@media screen and (max-width: 768px) {
    .slider-banner .swiper-pagination {
        display: block;
    }
}

.brands-block .bs-btn {
    width: max-content;
    margin: 0 auto;
}

.brands-list {
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    margin-bottom: 5px;
}

.brands-list::-webkit-scrollbar {
    display: none;
	height: 4px;
}

/* .brands-list::-webkit-scrollbar-thumb {
	background: #C8C8C8;
	border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .brands-list::-webkit-scrollbar {
        display: none;
    }
} */

.brands-list li {
    scroll-snap-align: start;
    flex: 0 0 auto;
}

.brands-list li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brands-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.insta-block__content {
    display: flex;
    align-items: center;
    gap: 56px;
}

.insta-block__content .col {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.insta-block__content .col p {
    margin-bottom: 32px;
}

.insta-block__content .col .bs-btn {
    align-self: start;
    width: max-content;
}

.insta-block__slider {
    max-width: 62%;
}

.loyalty-banner {
    margin-bottom: 40px;
}

.loyalty-banner>p:last-of-type {
    margin-bottom: 24px;
}

.card-slider .swiper-slide {
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
}

.card-slider .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 23px;
}

.card-slider .card-img {
    width: 100%;
    height: 100%;
    padding: 0;
}

.card-slider .card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-container {
    height: 100%;
}

.card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #FFE7F9;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.card h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}

.card p {
    line-height: 26px;
}