.slider-banner {
    padding: 0;
    overflow: hidden;
}

.slider-banner .swiper-slide>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-banner .swiper-pagination {
    position: static !important;
    margin-top: 16px;
    max-width: none;
}

@media screen and (max-width: 768px) {
    .slider-banner .swiper-pagination {
        display: block;
    }
}

.brands-block .bs-btn {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
}

.brands-wrapper {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.brands-wrapper::before,
 .brands-wrapper::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.brands-wrapper::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.brands-wrapper::before {
  left: 0;
  top: 0;
}

.scroll-box-wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 16px;
}

.scroll-box {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
}

.scroll-box-wrapper.animate .scroll-box {
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 16px));
    }
}

.brands-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 166px;
    padding: 0 8px;
}

@media (max-width: 768px) {
    .brands-item a {
        width: 88px;
        padding: 0 4px;
    }

    .brands-wrapper {
        height: 80px;
    }

    .brands-wrapper::before,
    .brands-wrapper::after {
        height: 80px;
        width: 50px;
    }

}

.brands-item img {
    width: 100%;
    height: 100%;
    aspect-ratio: 150/150;
    object-fit: cover;
}

.insta-block__content {
    display: flex;
    align-items: center;
    gap: 56px;
}

.insta-block__content .col {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.insta-block__content .col p {
    margin-bottom: 32px;
}

.insta-block__content .col .bs-btn {
    align-self: start;
    width: max-content;
}

.insta-block__content .bs-btn .icon {
    color: var(--accent);
}

.insta-block__slider {
    max-width: 62%;
}

.loyalty-banner {
    margin-bottom: 40px;
}

.loyalty-banner .title_30 {
    margin-bottom: 8px;
}

.loyalty-banner>p:last-of-type {
    margin-bottom: 24px;
}

.loyalty-banner .bs-btn {
    margin-bottom: 40px;
}

.card-slider .swiper-slide {
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
}

.card-slider .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 23px;
}

.card-slider .card-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 320/238;
    padding: 0;
}

.card-slider .card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-container {
    height: 100%;
}

.card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #FFE7F9;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.card h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}

.card p {
    line-height: 26px;
}

@media (max-width: 768px) {
    .slider-banner {
        margin-bottom: 16px;
    }

    .brands-list {
        margin-bottom: 10px;
    }

    .brands-list li {
        scroll-snap-align: start;
        flex: 0 0 auto;
    }

    .brands-list li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brands-list li {
        width: 80px;
        height: 80px;        
    }

    .insta-block__content {
       flex-direction: column;
       align-items: flex-start;
        gap: 40px;
    }

    .insta-block__content .title_30 {
        width: max-content;
        max-width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        padding-bottom: 8px;
        text-transform: none;
        border-bottom: 1px solid var(--text-color);   
    }

    .insta-block__content .col {
        gap: 16px;
    }

    .insta-block__content .col p {
        margin-bottom: 0;
    }

    .insta-block__content .col .bs-btn {
        width: 100%;
    }

    .insta-block__content .bs-btn .icon {
        color: var(--accent);
    }

    .insta-block__slider {
        max-width: 100%;
    }

    .card-img.mobile-only {
        width: 100%;
        margin-bottom: 24px;
    }

    .card-img img {
        width: 100%;
        aspect-ratio: 358/238;
        object-fit: cover;
        border-radius: 11px;
    }

    .loyalty-banner>p:last-of-type {
        margin-bottom: 24px;
    }

    .loyalty-banner .bs-btn {
        margin-bottom: 40px;
    }

    .card-slider .swiper-slide {
        width: 100%;
        max-width: 320px;
        border-radius: 8px;
    }

    .card-slider .card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 16px 23px;
    }

    .card-slider .card-img {
        width: 100%;
        height: 100%;
        aspect-ratio: 320/238;
        padding: 0;
    }

    .card-slider .card-img>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-container {
        height: 100%;
    }

    .card .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: #FFE7F9;
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }

    .card h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
    }

    .card p {
        line-height: 26px;
    }
}