.yana-club-block {
    display: grid;
    grid-template-columns: 55% 1fr;
    gap: 36px;
    padding-top: 80px;
}

.yana-club-block:has(.new-img) {
    gap: 0;
}

.yana-club-img__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.yana-club-img__wrapper::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: auto 0 0 0;
    z-index: -1;
    background: url('data:image/svg+xml,<svg width="544" height="366" viewBox="0 0 544 366" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="272" cy="272" r="272" fill="%23E1F56F"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.yana-club-img__wrapper.new-img {
    padding-left: 40px;
    justify-content: flex-end;
    align-items: flex-end;
}

.yana-club-img__wrapper.new-img::after {
    inset: auto -5% auto auto;
    background: #FFF7D3;
    background: radial-gradient(circle, rgba(255, 247, 211, 1) 0%, rgba(255, 247, 208, 0.6) 45%, rgba(255, 255, 255, 1) 80%);
    background-size: contain;
}

.yana-club-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.yana-club-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.yana-club__content {
    display: flex;
    flex-direction: column;
}

.order_mini_info {
    margin-bottom: 16px;
}

.thanks-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 20px 16px;
    font-size: 16px;
    text-align: left;
    line-height: 140%;
    background: #FFF7D3;
    margin-bottom: 32px;
}

.thanks-label .icon {
    font-size: 20px;
}

.yana-club-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 40px;
}

.yana-club-list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.yana-club-list li .icon {
    flex: 1 0 20px;
    max-width: 20px;
}

.yana-club-list.new-list li {
    padding-left: 26px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.0271 1.56873L5.21482 10.0733L2.87636 7.57488C2.44559 7.16873 1.76867 7.14411 1.27636 7.48873C0.796358 7.84565 0.660973 8.47334 0.956357 8.97796L3.72559 13.4826C3.99636 13.901 4.46405 14.1595 4.99328 14.1595C5.4979 14.1595 5.9779 13.901 6.24867 13.4826C6.69174 12.9041 15.1471 2.82411 15.1471 2.82411C16.2548 1.6918 14.9133 0.694879 14.0271 1.55642V1.56873Z" fill="%231B1B1D"/></svg>') no-repeat;
    background-position: center left;
    background-size: 16px;
}

.yana-club-block .bs-btn {
    width: 100%;
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 40px;
}

.yana-club-block .bs-btn>span {
    padding: 12px 15px;
}

@media (max-width: 992px) {

    .thanks {
        margin-bottom: 16px;
    }

    .yana-club-block {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        gap: 20px;
    }

    .yana-club-block:has(.new-img) {
        padding: 20px 0 0;
    }

    .yana-club-list {
        margin-bottom: 0;
        max-width: none;
    }

    .yana-club-img__wrapper.new-img {
        padding-left: 0;
        padding-top: 40px;
    }

    .yana-club-img {
        order: 2;
        position: static;
        align-self: center;
        width: 90%;
        max-width: 350px;
    }

    .yana-club-list {
        order: 3;
    }

    .yana-club-block .bs-btn {
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {

    .yana-club-block {
        padding: 24px 0 0;
        border-radius: 0;
        border: none;
        background: transparent;
        position: relative;
    }

    .yana-club-img__wrapper {
        margin: 0 -16px;
    }

    .yana-club-title {
        font-size: 17px;
        margin-bottom: 16px;
    }

    .yana-club-subtitle {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .thanks-label {
        padding: 20px 16px;
        font-size: 14px;
    }

    .yana-club-img__wrapper.new-img::after {
        inset: 0;
        background: radial-gradient(circle, rgba(255, 247, 211, 1) 0%, rgba(255, 247, 208, 0.6) 65%, rgba(255, 255, 255, 1) 90%);
    }
}